@page
@model Status404Model

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <img class="img-fluid p-4" src="~/img/404.svg" alt="">
                <p class="lead">The requested resource could not be found.</p>
                <a asp-page="/index">Back to Homepage</a>
            </div>
        </div>
    </div>
</div>