@page
@model Status500Model

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <img class="img-fluid p-4" src="~/img/500.svg" alt="">
                <p class="lead">There was an error on the server whilst processing the request.</p>
                <a class="text-arrow-icon" asp-page="/index">Back to Homepage</a>
            </div>
        </div>
    </div>
</div>